* {
	font-family: "Î¢ÈíÑÅºÚ"
}

form div.line{
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}

form div.line label{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	height: 30px;
	width: 100px;
	display: inline-block;
}

form div.line input[type="text"]{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	height: 30px;
	width: 300px;
	display: inline-block;
}

form div.line input[type="submit"],input[type="reset"]{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right:5px;
	margin-left: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	height: 30px;
	width: 80px;
	display: inline-block;
}

div.formPanel {
	padding: 10px;
	border: 1px solid;
	display: inline-block;
	border-radius: 15px;
}
