* {
	font-family: "Î¢ÈíÑÅºÚ"
}

div#main{
	margin-left: auto;
	margin-right: auto;
	width: 600px
}

div.formPanel{
	margin-left: auto;
	margin-right: auto;
	width: 100%
}

form div.line{
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}

form div.line label{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	height: 30px;
	width: 25%;
	display: inline-block;
}

form div.line input[type="text"]{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	height: 30px;
	width: 74%;
	display: inline-block;
}

form div.line input[type="submit"],input[type="reset"]{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right:5px;
	margin-left: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	height: 30px;
	width: 80px;
	display: inline-block;
}

div.formPanel {
	padding: 20px;
	border: 1px solid #696;
	display: inline-block;
	border-radius: 15px;
	box-shadow: #666 0px 0px 10px;
}

form div.line div.textarea {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	display: block;
	width: 100%;
}

form div.textarea textarea {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	height: 150px;
	width: 100%;
	display: block;
}